aws_region   = "ap-south-1"
project_name = "hitman-cloudflux"
environment  = "prod"

vpc_cidr = "10.0.0.0/16"

azs = [
  "ap-south-1a",
  "ap-south-1b"
]

public_subnets = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

private_app_subnets = [
  "10.0.11.0/24",
  "10.0.12.0/24"
]

private_db_subnets = [
  "10.0.21.0/24",
  "10.0.22.0/24"
]

eks_version = "1.33"

node_instance_types = ["c7i-flex.large"]
node_desired_size   = 2
node_min_size       = 2
node_max_size       = 4

db_name           = "appdb"
db_instance_class = "db.t4g.micro"
db_multi_az       = false

github_org       = "YOUR_GITHUB_ORG"
frontend_repo    = "YOUR_GITHUB_REPO"
backend_repo     = "YOUR_GITHUB_REPO"
terraform_repo   = "YOUR_GITHUB_REPO"
github_branch    = "main"

secret_name = "hitman-cloudflux/prod/backend"
